@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@700&family=Public+Sans:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}
path {
  stroke-width: 3;
}

h1,
h2,
h3,
.banner {
  font-family: "Lexend Mega", sans-serif;
}
p,
a,
label {
  font-family: "Public Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  max-width: 100%;
  width: 100%;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section,
header {
  min-height: 100vh;
  padding-top: 50px;
  scroll-snap-stop: always;
  scroll-snap-align: start;
}

.multiple-shadow {
  text-shadow: -10px 10px 0px #00e6e6, -20px 20px 0px #01cccc,
    -30px 30px 0px #00bdbd;
}

textPath {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.border {
  box-shadow: rgb(0, 0, 0) 15px 15px 0px -3px;
}

.fontLight {
  font-weight: 500;
}

.fontBold {
  font-weight: 700;
}

.textShadow {
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
}
